<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Comments</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">

</head>
<body>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Comments</th>
            <th>Time</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
    {% for visitor in visitors %}
        <tr class="pure-table-odd">
            <td>{{ visitor['name'] }}</td>
            <td>{{ visitor['comment'] }}</td>
            <td>{{ visitor['created'] }}</td>
            <td>
                <form action="{{ url_for('delete', id=visitor['id']) }}" method="post">
                     <button type="submit">Delete</button>
                </form></td>
         </tr>
    {% endfor %}
    </tbody>
</table>
    <div>
           <h2 style="text-align: center" >{{ msg }}</h2>
    </div>
</body>
</html>